#main-page-content {
    flex: 1 1 auto
}

.page-section {
    padding: 48px 0
}

.page-section .page-section-inner {
    max-width: 1280px;
    width: 100%;
    padding: 0 128px;
    margin: 0 auto
}

.page-section.content-header {
    background-color: var(--bg2-alt)
}

.page-section.content-header .header-left {
    margin-right: 48px
}

.hide-desktop {
    display: none !important
}

@media screen and (max-width:950px) {
    .hide-mobile {
        display: none !important
    }

    .hide-desktop {
        display: initial !important
    }

    .page-section .page-section-inner {
        padding: 0 24px
    }

    .content-header .page-section-inner {
        flex-direction: column;
        align-items: center
    }

    .content-header .page-section-inner .header-left {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0
    }

    .content-header .page-section-inner .title-description,
    .content-header .page-section-inner .title {
        text-align: center
    }
}