<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta charset="utf-8" />
<meta property="og:title" content="The Discord Enhancement Project">
<meta property="og:description"
    content="BetterDiscord extends the functionality of DiscordApp by enhancing it with new features.">
<meta property="og:url" content="">
<meta property="og:image" content="{{"/assets/branding/logo_solid.png" | url}}">
<meta property="og:image:alt" content="BetterDiscord Logo" />
<meta name="description"
    content="BetterDiscord extends the functionality of DiscordApp by enhancing it with new features.">
<meta property="twitter:card" content="summary" />
<meta property="twitter:title" content="The Discord Enhancement Project">
<meta property="twitter:description"
    content="BetterDiscord extends the functionality of DiscordApp by enhancing it with new features.">
<meta property="twitter:url" content="">
<meta property="twitter:image" content="{{"/assets/branding/logo_solid.png" | url}}">
<meta property="twitter:image:alt" content="BetterDiscord Logo" />
<meta property="og:site_name" content="BetterDiscord">
<meta property="twitter:site" content="BetterDiscord">
<meta name="theme-color" content="#3a71c1">
<meta name="keywords"
    content="Discord, BetterDiscord, Better Discord, Discord Mod, Discord Themes, Discord Plugins, Discord Extensions, Discord Client Mod, Discord Hacks">
<meta name="author" content="BetterDiscord">
<meta name="msapplication-TileColor" content="#3a71c1">
<meta name="msapplication-TileImage" content="{{"/assets/favicon/ms-icon-144x144.png" | url}}">
<link rel="apple-touch-icon" sizes="57x57" href="{{"/assets/favicon/apple-icon-57x57.png" | url}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{"/assets/favicon/apple-icon-60x60.png" | url}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{"/assets/favicon/apple-icon-72x72.png" | url}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{"/assets/favicon/apple-icon-76x76.png" | url}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{"/assets/favicon/apple-icon-114x114.png" | url}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{"/assets/favicon/apple-icon-120x120.png" | url}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{"/assets/favicon/apple-icon-144x144.png" | url}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{"/assets/favicon/apple-icon-152x152.png" | url}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{"/assets/favicon/apple-icon-180x180.png" | url}}">
<link rel="icon" type="image/png" sizes="192x192" href="{{"/assets/favicon/android-icon-192x192.png" | url}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{"/assets/favicon/favicon-32x32.png" | url}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{"/assets/favicon/favicon-96x96.png" | url}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{"/assets/favicon/favicon-16x16.png" | url}}">
<link rel="manifest" href="{{"/assets/favicon/manifest.json" | url}}">
<link rel="stylesheet" href="{{"/assets/css/prism.css" | url}}" />
<link rel="stylesheet" href="{{"/assets/css/normalize.css" | url}}" />
<link rel="stylesheet" href="{{"/assets/css/site.css" | url}}" />
<link rel="preload" as="font" type="font/woff2" href="{{"/assets/fonts/Inter-Medium.woff2" | url}}" crossorigin />
<link rel="preload" as="font" type="font/woff2" href="{{"/assets/fonts/Inter-SemiBold.woff2" | url}}" crossorigin />
<link rel="preload" as="font" type="font/woff2" href="{{"/assets/fonts/Inter-Bold.woff2" | url}}" crossorigin />
<link rel="preload" as="font" type="font/woff" href="{{"/assets/fonts/Inter-Medium.woff" | url}}" crossorigin />
<link rel="preload" as="font" type="font/woff" href="{{"/assets/fonts/Inter-SemiBold.woff" | url}}" crossorigin />
<link rel="preload" as="font" type="font/woff" href="{{"/assets/fonts/Inter-Bold.woff" | url}}" crossorigin />

<script defer src="{{"/assets/js/OverlayScrollbars.min.js" | url}}"></script>
<script defer src="{{"/assets/js/prism.js" | url}}"></script>
<script defer src="{{"/assets/js/main.js" | url}}"></script>