.deprecated {
    color: var(--danger);
    font-size: 11px;
    text-transform: uppercase;
    background: rgb(193 58 58 / 10%);
    border-radius: 50px;
    display: inline-flex;
    padding: 2px 8px;
    font-weight: 600;
    margin-left: 20px;
    position: absolute;
    margin-top: 2px;
}