.hljs {
    color: #f8f8f2
}

// JavaScript or JSX
code[class*="language-js"] {
    .hljs-built_in,
    .hljs-selector-tag,
    .hljs-section,
    .hljs-link {
        color: #8be9fd
    }
    
    .hljs-doctag,
    .hljs-keyword {
        color: #ff79c6
    }
    
    .hljs-subst {
        color: #f8f8f2
    }
    
    .hljs-title {
        color: #50fa7b
    }
    
    .hljs-string,
    .hljs-meta,
    .hljs-name,
    .hljs-type,
    .hljs-attr,
    .hljs-symbol,
    .hljs-bullet,
    .hljs-addition,
    .hljs-variable,
    .hljs-template-tag,
    .hljs-template-variable {
        color: #f1fa8c
    }
    
    .hljs-comment,
    .hljs-quote,
    .hljs-deletion {
        color: #6272a4
    }
    
    .hljs-literal,
    .hljs-number {
        color: #bd93f9
    }
    
    .hljs-emphasis {
        font-style: italic
    }
}


// CSS Support
code.language-css {
    .hljs-built_in,
    .hljs-selector-tag,
    .hljs-section,
    .hljs-link {
        color: #8be9fd
    }
    
    .hljs-doctag,
    .hljs-attribute {
        color: #ff79c6
    }
    
    .hljs-subst {
        color: #f8f8f2
    }
    
    .hljs-selector-class,
    .hljs-selector-id,
    .hljs-selector-pseudo {
        color: #50fa7b
    }
    
    .hljs-string,
    .hljs-meta,
    .hljs-name,
    .hljs-type,
    .hljs-attr,
    .hljs-symbol,
    .hljs-bullet,
    .hljs-addition,
    .hljs-variable,
    .hljs-template-tag,
    .hljs-template-variable {
        color: #f1fa8c
    }
    
    .hljs-comment,
    .hljs-quote,
    .hljs-deletion {
        color: #6272a4
    }
    
    .hljs-literal,
    .hljs-number {
        color: #bd93f9
    }
    
    .hljs-emphasis {
        font-style: italic
    }
}




// Line Numbers Support
.markdown-body pre {
    position: relative;
    min-height: 56px;
    display: flex;
    align-items: center;
}

.markdown-body pre.line-numbers {
    margin: .5em 0;
    padding-left: 3.8em;
}

.markdown-body pre > code.line-numbers {
    white-space: inherit;
}

.line-numbers-container {
    position: absolute;
    pointer-events: none;
    top: 11px;
    font-size: 100%;
    left: 0;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid rgba(153, 153, 153, 0.20);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    counter-reset: linenumber;
}

.line-numbers-container > span {
    display: block;
    counter-increment: linenumber;
  }

.line-numbers-container > span::before {
    display: block;
    content: counter(linenumber);
    color: #999;
    padding-right: .8em;
    text-align: right;
}


// Copy Button Support
.markdown-body code .btn-copy {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid rgba(255, 255, 255, .05);
    transition: background 200ms ease;
    padding: 16px 20px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path><path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path></svg>');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}

.markdown-body code .btn-copy.success {
    background-image: url('data:image/svg+xml;utf,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg>');
    background-color: #3ac172;
}

.markdown-body code .btn-icon {
    margin: 0;
}