.banner {
    background-color: rgba(58, 113, 193, 0.1);
    color: var(--text-link);
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 16px
}

.banner svg {
    width: 18px;
    height: 18px;
    flex: 0 0 auto
}

.banner span {
    margin-left: 8px
}

.banner.warning {
    background-color: rgba(251, 191, 36, 0.1);
    color: #fbbf24;
}

.banner.danger {
    background-color: rgba(193, 58, 58, 0.1);
    color: #c13a3a;
}

.banner.success {
    background-color: rgba(58, 193, 114, 0.1);
    color: #3ac172;
}