
.btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%
}

.btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 150ms ease background, 150ms ease box-shadow, 150ms ease color, 150ms ease border;
    cursor: pointer;
    padding: 8px 12px;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.btn:focus {
    box-shadow: 0 0 0 4px var(--accent-faded)
}

.btn.dropdown-btn span,
.btn.dropdown-btn svg {
    pointer-events: none
}

.btn span {
    pointer-events: none;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden
}

.btn .spinner {
    margin: 0
}

.btn .btn-icon {
    pointer-events: none;
    margin-right: 10px;
    fill: currentColor;
    flex-shrink: 0
}

.btn .btn-icon.btn-icon-right {
    margin-right: 0;
    margin-left: 10px
}

.btn.btn.btn-primary {
    background-color: var(--accent);
    color: #fff
}

.btn.btn.btn-primary:hover {
    background: var(--accent-hover)
}

.btn.btn-secondary {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .05);
    color: var(--text-normal)
}

.btn.btn-secondary:hover {
    border-color: rgba(255, 255, 255, .1)
}

.btn.btn-secondary.btn-unlink-github {
    margin-top: 10px
}

.btn.btn-danger {
    background-color: var(--danger);
    color: #fff
}

.btn.btn-danger:hover {
    background-color: var(--danger-hover)
}

.btn[disabled] {
    opacity: .6;
    cursor: not-allowed
}