*,
*::before,
*::after {
    outline: none;
    box-sizing: border-box
}

html,
body {
    background-color: var(--bg2)
}

.os-viewport>.os-content {
    visibility: visible;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: fit-content !important;
    height: -moz-fit-content !important
}

:focus-visible {
    box-shadow: 0 0 0 4px var(--accent-faded) !important
}

.disabled {
    opacity: .6;
    cursor: not-allowed
}

.disabled * {
    pointer-events: none
}

.flex-container {
    display: flex
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.align-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.align-end {
    align-items: flex-end
}

.direction-column {
    flex-direction: column
}

.wrap {
    flex-wrap: wrap
}

.os-scrollbar-handle {
    background-color: var(--bg3) !important;
    border: 1px solid var(--bg4)
}

body::-webkit-scrollbar,
.docs-sidebar-inner::-webkit-scrollbar {
    display: none !important
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    display: none
}

:hover::-webkit-scrollbar {
    display: block
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg3-alt);
    border: 1px solid var(--bg4);
    border-radius: 50px
}

* {
    scrollbar-color: var(--bg3-alt) var(--bg2)
}


body {
    font-family: inter, sans-serif;
    word-break: break-word
}

pre, code {
    font-family: fira code, monospace
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0
}

.text-center {
    text-align: center
}




.title {
    color: var(--text-light);
    font-size: 48px;
    font-weight: 700;
    line-height: normal
}

.title-description {
    color: var(--text-muted);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    margin-top: 5px
}

.anchor {
    color: var(--text-link) !important;
    font-weight: 500 !important;
    text-decoration: none
}

.anchor:hover {
    text-decoration: underline
}

@media screen and (max-width:950px) {
    .title {
        font-size: 38px
    }
}