.tab-bar {
    display: flex;
    border-bottom: 3px solid var(--bg3);
    margin-bottom: 20px
}

.tab-bar .tab {
    display: flex;
    align-items: center;
    height: 48px;
    background: 0 0;
    color: var(--text-normal);
    border: none;
    border-bottom: 3px solid transparent;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    bottom: -3px;
    padding: 0 24px;
    cursor: pointer;
    max-width: 50%
}

.tab-bar .tab:hover {
    border-bottom: 3px solid var(--bg4)
}

.tab-bar .tab.selected {
    border-bottom: 3px solid var(--accent);
    color: var(--text-light);
    cursor: default
}

.tab-bar .tab span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}