@use "fonts/inter";
@use "fonts/code";
@use "generic/generic";
@use "generic/banner";
@use "generic/pagination";
@use "generic/btn";
// @use "generic/search";
// @use "generic/spinner";
// @use "generic/tabbar";
@use "layout/markdown";
@use "layout/navbar";
@use "layout/page";
@use "layout/footer";
@use "layout/docs";
@use "docs/api";
@use "docs/syntax";

:root {
    --bg1: #040405;
    --bg3: #14151b;
    --bg4: #20212b;
    --bg2: #0c0d10;
    --bg2-alt: #101116;
    --bg3-alt: #191a21;
    --accent: #3a71c1;
    --accent-hover: #2f5b9d;
    --accent-faded: rgba(58, 113, 193, 0.4);
    --danger: #c13a3a;
    --danger-hover: #992e2e;
    --danger-faded: rgb(193, 58, 58, 0.4);
    --text-light: #f1f1f1;
    --text-normal: #bfc4c9;
    --text-muted: #95989d;
    --text-link: #5a88ce;
}