{% set formattedTitle = "" %}
{% if pageTitle %}
    {% set formattedTitle = pageTitle %}
{% elif eleventyNavigation.title %}
    {% set formattedTitle = eleventyNavigation.title %}
{% elif eleventyNavigation.key %}
    {% set formattedTitle = eleventyNavigation.key %}
{% else %}
    {% set formattedTitle = "Docs" %}
{% endif %}

{% set formattedTitle = formattedTitle | title | replace("-", " ") %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if formattedTitle == "Docs" %}BetterDiscord Docs{% else %}{{formattedTitle}} | BetterDiscord Docs{% endif %}</title>
    {% include "../head.njk" %}
</head>

<body class="line-numbers">
    
    {% include "../navbar.njk" %}
    <main id="main-page-content">
        {% if navigationKey %}
        <header id="docs-header" class="flex-container align-center">
            <button id="header-sidebar-btn" class="btn btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"> <path fill-rule="evenodd" d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"> </path> </svg>
            </button>
            <h2 class="docs-header-title">{{navigationKey | title}}</h2>
        </header>
        {% endif %}
        <section class="page-section" id="docs-section">
            <div class="page-section-inner">
                {% block content %}{% endblock %}
            </div>
        </section>
    </main>
    
    {% include "../footer.njk" %}
</body>

</html>