---
templateClass: listing
---
{% extends "./main.njk" %}


{% set target = collections.all | eleventyNavigation(navigationKey) | getElementByKey("key", categoryKey) %}

{% block body %}
  <h1>{{formattedTitle}}</h1>

  <ul>
  {% for entry in target.children %}
    <li class="my-active-class">
      <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}