---
templateClass: main
---
{% extends "./base.njk" %}
{% import "sidenav.njk" as sidebar %}



{% set navigation = sidebar.buildNavigation(pageTitle, collections.all | eleventyNavigation(navigationKey), page) %}

{% block content %}
    {% if navigationKey and navigation %}
        {# {{ navigation | log }} #}
        <div id="docs-splitview" class="flex-container">
            <aside class="docs-sidebar mobile-hidden">
                {{navigation | safe}}
            </aside>
            <article class="docs-content">
                <div class="markdown-body flex-container direction-column">           
                    {% block body %}
                        {{content | safe}}
                    {% endblock %}
                </div>
            </article>
        </div>

    {% else %}
        <article class="docs-content">
            <div class="markdown-body flex-container direction-column">
                {{content | safe}}
            </div>
        </article>
    {% endif %}
{% endblock %}


